#exercisesBase-screen {
    display: none;
    /* grid-template-rows: (mainContainerHeight - mainContainerWidth)*0.15 + 'px ' + (mainContainerHeight - mainContainerWidth)*0.85 + 'px ' + mainContainerWidth/2 + 'px ' + mainContainerWidth/2 + 'px ';*/
    background-image: url(/img/background/main-screen/main-screen-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#exercisesBase-screen-searchForm {
    margin: 0 5px 0px;
    background-color: var(--color-box);
    border-right: 2px solid white;
    border-left: 2px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
}

#exercisesBase-screen-searchForm-input {
        text-align: center;
        width: var(--site-width-90);
        height: var(--site-height-5);
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.2s;
        
        border: 2px solid hsla(0, 0%, 100%, 0.5);
        border-radius: 5px;
        background-color: rgba(73, 255, 234, 0.273);
}

#exercisesBase-screen-searchForm-input::placeholder {
    
    color: white;
    outline: none;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
}

#exercisesBase-screen-searchForm-input:focus {
    background-color: var(--color-box);
    border-color: white;
    color: white;
    outline: none;
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
}

#exercisesBase-screen-typeSortButtons {
    margin: 0 5px 0px;
    background-color: var(--color-box);
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    column-gap: var(--site-height-025);

    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 2;
}

.exercisesBase-screen-typeSortButtons {
    height: 40%;
    width: auto;
    padding: 0 5%;
    font-size: var(--button-font-size-1);
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight-500);
    font-style: var(--header-font-style);

    border: none;
    background-color: var(--color-box);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border: 2px solid white;
    border-radius: 5px;
}
.exercisesBase-screen-typeSortButtons:hover {
    background-color: rgba(73, 255, 234, 0.273);
    border: 2px solid rgba(255, 255, 255, 0.934);
    border-radius: 5px;
}

.exercisesBase-screen-typeSortButtons.active {
    background-color:rgba(73, 255, 234, 0.273); /* Active state color */
    color: #fff;
}





#exercisesBase-screen-difficultSortButtons {
    margin: 5px 5px 0px;
    background-color: var(--color-box);
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 5px 5px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    column-gap: var(--site-height-025);

    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
}

.exercisesBase-screen-difficultSortButtons {
    border: none;
    padding: 1% 2%;
    background-color: transparent;

    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;


}
.exercisesBase-screen-difficultSortButtons:hover {
    background-color: rgba(73, 255, 234, 0.273);
}

.exercisesBase-screen-difficultSortButtons.active {
    background-color: rgba(73, 255, 234, 0.273); /* Active state color */   
}



