#main-screen {
    /* grid-template-rows: (mainContainerHeight - mainContainerWidth)*0.15 + 'px ' + (mainContainerHeight - mainContainerWidth)*0.85 + 'px ' + mainContainerWidth/2 + 'px ' + mainContainerWidth/2 + 'px ';*/
    background-image: url(/img/background/main-screen/main-screen-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#main-screen-header {
    text-align: center;
}

    #main-screen-header-title {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

#main-screen-logo {
    border-top: 1px solid black;
    
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

#main-screen-buttons {
    
        grid-row-start: 3;
        grid-column-start: 1;
    
        grid-row-end: 4;
        grid-column-end: 3;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
        
}

.main-screen-buttons-button {
    width: var(--site-width-45);
    height: var(--site-height-225);
    
    background: 
    
    linear-gradient(50deg, rgba(194, 230, 237, 0.9), 48%, rgba(0, 255, 0, 0) 20.0%),
    linear-gradient(140deg, rgba(177, 187, 210, 0.9), 40%, rgba(0, 0, 255, 0) 20.0%),
    linear-gradient(
      320deg,
      rgba(255, 255, 255, 0.9), 60%,
      rgba(255, 0, 0, 0) 30.0%
    )
    ;
}

@media (max-aspect-ratio: 9/20) {
    .main-screen-buttons-button {
        width: var(--site-width-90);
        height: var(--site-height-10);
    }
}

#main-screen-button-1 {

}

#main-screen-button-2 {
    filter: blur(2px) grayscale(100%);
}

#main-screen-button-3 {
    filter: blur(2px) grayscale(100%);
}

#main-screen-button-4 {
    filter: blur(2px) grayscale(100%);
}

