.slave-screen {

}


.slave-screen-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
}

.slave-screen-header-title-box {
    width: 65%;
    height: 100%;
    background-color: var(--color-box);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.68);
    border-radius: 0;
    border: 1px solid #363636;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border-left: 10px solid #363636;
    border-right: 10px solid #363636;
}

.slave-screen-header-title-main {
    color: var(--color-title-main);
    text-align: right;
    padding-right: 10px;

    font-size: var(--font-size-3);
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight-500);
    font-style: var(--header-font-style);
}

.slave-screen-header-title-line {
    width: 90%;
    background-color: var(--color-title-slave);
    height: 2px;
    align-self: center;
}

.slave-screen-header-title-slave {
    width: 90%;
    text-align: right;
    padding-right: 10px;
    color: var(--color-title-slave);

    font-size: var(--font-size-6);
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight-500);
    font-style: var(--header-font-style);
}


.slave-screen-header-backButton {
    width: 30%;
    height: 90%;
    border-radius: 10px;

    background-color: var(--color-box);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.68);
    border: none;
    border-left: 13px solid #363636;

    color: var(--color-title-main);
    font-size: var(--font-size-1);
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight-500);
    font-style: var(--header-font-style);
    text-align:left;
    padding-left: 5px;

}

.slave-screen-header-backButton:hover {
    border-left: 13px solid #ffbd16;
}

.slave-screen-header-backButton:active {
    border-left: 13px solid var(--color-box);
    transform: scale(95%);
}
