* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;  
}


/* Контейнеры */
    /* главный контейнер сайта */
    .main-container {
        margin: 0 auto;
        /* height = mainContainerHeight + 'px' */
        /* width = mainContainerWidth + 'px' */
    }

    /* рабский контейнер сайта */
    .slave-container{
        display: flex;
        position: relative;
        right: 0;
        /* height = slaveContainerHeight + 'px' */
        /* width = slaveContainerWidth + 'px' */
        /* transition: right 1s ease-in-out */
        background-image: url(/img/background/background\ pattern.png);
        background-color: transparent;
        background-repeat: repeat;
        background-position: left;
    }

/* Секции */
    /* общая сетка для секций экранов */
    .screen {
        display: grid;
        gap: 0px;
    }
    .screen-header {
        background-color: black;

        grid-column-start: 1;
        grid-column-end: 3;
    }

    .screen-header-title-main {
        font-size: var(--header-font-size-008);
        font-family: var(--header-font-family);
        font-weight: var(--header-font-weight-500);
        font-style: var(--header-font-style);
    }

    .screen-header-title-slave {
        font-size: var(--header-font-size-008);
        font-family: var(--header-font-family);
        font-weight: var(--header-font-weight-500);
        font-style: var(--header-font-style);
    }

    

    

    @media (max-aspect-ratio: 9/20) {
        .screen-header-title {
            font-size: var(--header-font-size-010);
        }
    }
