:root {
    /* ширина экрана  */
    /* document.documentElement.style.setProperty('--site-width-100', siteWidth*1 + 'px'); */
    --site-width-100: 0;
    --site-width-95: 0;
    --site-width-90: 0;
    --site-width-85: 0;
    --site-width-80: 0;
    --site-width-75: 0;
    --site-width-70: 0;
    --site-width-65: 0;
    --site-width-60: 0;
    --site-width-55: 0;
    --site-width-50: 0;
    --site-width-45: 0;
    --site-width-40: 0;
    --site-width-35: 0;
    --site-width-30: 0;
    --site-width-25: 0;
    --site-width-20: 0;
    --site-width-15: 0;
    --site-width-10: 0;
    --site-width-5: 0;

    /* высота экрана */
    --site-height-100: 0;
    --site-height-95: 0;
    --site-height-90: 0;
    --site-height-85: 0;
    --site-height-80: 0;
    --site-height-75: 0;
    --site-height-70: 0;
    --site-height-65: 0;
    --site-height-60: 0;
    --site-height-55: 0;
    --site-height-50: 0;
    --site-height-45: 0;
    --site-height-40: 0;
    --site-height-35: 0;
    --site-height-30: 0;
    --site-height-25: 0;
    --site-height-225: 0;
    --site-height-20: 0;
    --site-height-15: 0;
    --site-height-10: 0;
    --site-height-5: 0;
    --site-height-025: 0;


    /* переменные для заголовков секций */
    --header-font-size-0025: 0;
    --header-font-size-005: 0;
    --header-font-size-006: 0;
    --header-font-size-007: 0;
    --header-font-size-008: 0;
    --header-font-size-009: 0;
    --header-font-size-010: 0;
    --header-font-family: "Roboto", sans-serif;
    --header-font-weight-800: 800;
    --header-font-weight-700: 700;
    --header-font-weight-500: 500;
    --header-font-weight-300: 300;
    --header-font-style: normal;

    /* переменные для кнопок */
    --button-font-size-001: 0;
    --button-font-size-0025: 0;
    --button-font-size-005: 0;
    --button-font-size-006: 0;
    --button-font-size-007: 0;
    --button-font-size-008: 0;
    --button-font-size-010: 0;
    
    --button-font-family: "Roboto", sans-serif;
    --button-font-weight-800: 800;
    --button-font-weight-700: 700;
    --button-font-weight-500: 500;
    --button-font-weight-300: 300;
    --button-font-style: normal;


  /* Переменные для цветов */

    /* Цвета боксов подложки*/
      --color-box: hsla(201, 80%, 29%, 0.477);

    /* Цвета кнопок */
      --color-buttons: hsla(201, 80%, 29%, 0.41);

  }

