* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;  
}


/* главный контейнер сайта */
.main-container {
    margin: 0 auto;
    /* height = mainContainerHeight + 'px' */
    /* width = mainContainerWidth + 'px' */
    background-color: black;
}

/* рабский контейнер сайта */
.slave-container{
    display: flex;
    position: relative;
    right: 0;
    /* height = slaveContainerHeight + 'px' */
    /* width = slaveContainerWidth + 'px' */
    background-color: rgb(204, 245, 2);
}